* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

.container{
    margin: 0 auto;
    width: 920px;
    
}

header{
    background-color: lightblue;
}

main>section{
    background-color: blue;
}


.nav-wrapper{
    display: flex;
}

.nav-wrapper>div {
    border: 1px dashed black;
    background-color: orange;
    flex-basis: 20%;
}

.nav-wrapper .login-container{
    text-align: right;
}

.nav-wrapper .links-container {
    flex-grow: 1;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container ul{
    list-style: none;
}

.links-container ul li {
    display: inline-block;
}

section {
    padding: 20px 0;
    
}

.container-small {
    width: 700px;
    background-color: crimson;
    min-height: 300px;
    border: 2px dashed black;
}


.row{
    display: flex;
}

.col{
    background-color: blue;
    min-height: 300px;
    flex-grow: 2;
    border: 2px dashed black;
}
.col-2{
    background-color: pink;
    flex-grow: 1;
    border: 2px dashed black;
}

.row-2{
    display: flex;
    background-color: lightgray;
}

.col-3{
    background-color: blue;
    min-height: 300px;
    flex-grow: 1;
    border: 2px dashed black;
}

.col-4{
    background-color: pink;
    flex-grow: 2;
    border: 2px dashed black;
}

.color{
    background-color: lightgray;
}

.foot-main{
    background-color: green;
    min-height: 500px;
    border: 2px dashed black;
}